<!doctype html>
<html lang="zh-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="keywords" content="learn japanese,learn japanese for free,learn japanese online,how to learn japanese,learn hiragana,learn katakana,learn Kanji" />
        <meta name="theme-color" content="#7FDBFF">
        <title>
          {{ block "title" . }} {{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title
          }} | {{ end }}{{ end }}{{ site.Title }} {{ end }}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" media="all" href="assets/jg_custom.css" />
        <link rel="stylesheet" type="text/css" href="scripts/simplemodal.css" media="screen" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.11.1/dist/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="scripts/jquery.simplemodal.1.4.4.min.js"></script>
        <script src="assets/script.js?O"></script>
    </head>
    <body>
      {{- block "body" . }} {{- end }}
    </body>
</html>
